{% extends "main/base.html" %}\
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center mb-3 text-center">
            <div class="col-sm-12">
                <div class="card">
                    <div class="z-3 row justify-content-center position-relative">
                        <div class="col-auto mt-0 position-absolute start-0">
                            {% if is_favorite %}
                                <form action="{% url 'remove_food_from_favorites' food.food_id %}?meal={{ meal|urlencode }}&next={{ next_url|urlencode }}"
                                      method="post">
                                    {% csrf_token %}
                                    {% if not is_custom %}
                                        <input type="hidden" name="food_name" value="{{ food.food_name }}">
                                        <input type="hidden" name="brand_name" value="{{ food.brand_name }}">
                                        <input type="hidden"
                                               name="food_description"
                                               value="{{ food.food_description }}">
                                    {% endif %}
                                    <button class="btn star-btn" title="Убрать из избранного" type="submit">
                                        <i class="fs-2 fc-star fas fa-star"></i>
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'add_food_to_favorites' food.food_id %}?meal={{ meal|urlencode }}&next={{ next_url|urlencode }}"
                                      method="post">
                                    {% csrf_token %}
                                    {% if not is_custom %}
                                        <input type="hidden" name="food_name" value="{{ food.food_name }}">
                                        <input type="hidden" name="brand_name" value="{{ food.brand_name }}">
                                        <input type="hidden"
                                               name="food_description"
                                               value="{{ food.food_description }}">
                                    {% endif %}
                                    <button class="btn star-btn" title="Добавить в избранное" type="submit">
                                        <i class="fs-2 fc-star far fa-star"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="col-auto mt-0 position-absolute end-0">
                            <div class="close-btn mt-4">
                                <a href="{{ next_url }}">
                                    <i class="fa-solid fa-xmark fc-ferngreen fs-1 " title="Вернуться назад"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h2 class="card-header py-4 fw-bold fc-darkgreen">
                        Добавление записи в
                        {% if meal == 'breakfast' %}
                            "Завтрак"
                        {% elif meal == 'lunch' %}
                            "Обед"
                        {% elif meal == 'dinner' %}
                            "Ужин"
                        {% else %}
                            "Перекус"
                        {% endif %}
                    </h2>
                    <div class="card-body"
                         style="background:{% if food.image %}rgba(15, 15, 15, 0.75){% endif %} url('{% if food.image %}{{ food.image }}{% else %}{% static 'img/food_entry_bg.png' %}{% endif %}') center/cover;
                                background-blend-mode: darken">
                        <div class="cpfc-content mt-2 mb-4">
                            <h1 class="card-title text-white fs-1 mb-0 f-shadow">{{ food.food_name }}</h1>
                            {% if food.brand_name %}
                                <p class="card-text text-white fs-4 mb-0 f-shadow">
                                    (от "<i>{{ food.brand_name }}</i>")
                                </p>
                            {% endif %}
                            <p class="card-text text-white-50 mt-0 f-shadow">id: {{ food.food_id }}</p>
                        </div>
                        <h5 class="card-title text-white fs-5 mb-3 fs-3 f-shadow"
                            id="amount-title">
                            На <span id="current-amount">1.0</span> порций по <i>{{ food.serving_name }}</i>:
                        </h5>
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-lg-4 col-5 mb-2 mx-1 bg-calories-trans rounded-4">
                                <p class="fs-4 mb-0 pt-2 fw-bold fc-calories f-shadow">Калории:</p>
                                <p class="fs-5 fw-bold text-white f-shadow">
                                    <span id="calculated-calories">{{ food.per_portion.calories|floatformat:0 }}</span> ккал
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-3 col-5 mb-2 mx-2 bg-proteins-trans rounded-4">
                                <p class="fs-4 mb-0 pt-2 fw-bold fc-proteins f-shadow">Белки:</p>
                                <p class="fs-5 fw-bold text-white f-shadow">
                                    <span id="calculated-proteins">{{ food.per_portion.proteins|floatformat:1 }}</span> г
                                </p>
                            </div>
                            <div class="col-lg-3 col-5 mb-2 mx-2 bg-fats-trans rounded-4">
                                <p class="fs-4 mb-0 pt-2 fw-bold fc-fats f-shadow">Жиры:</p>
                                <p class="fs-5 fw-bold text-white f-shadow">
                                    <span id="calculated-fats">{{ food.per_portion.fats|floatformat:1 }}</span> г
                                </p>
                            </div>
                            <div class="col-lg-3 col-5 mb-2 mx-2 bg-carbs-trans rounded-4">
                                <p class="fs-4 mb-0 pt-2 fw-bold fc-carbs f-shadow">Углеводы:</p>
                                <p class="fs-5 fw-bold text-white f-shadow">
                                    <span id="calculated-carbs">{{ food.per_portion.carbs|floatformat:1 }}</span> г
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-lg-9">
                                <div class="shadow progress-stacked" style="height: 25px">
                                    <div class="shadow progress"
                                         role="progressbar"
                                         style="width: {{ proteins_percent }}%;
                                                height: 25px">
                                        <div class="progress-bar bg-proteins-mid text-black-50 fs-5">
                                            {% if proteins_percent > 3.5 %}
                                                {{ proteins_percent|floatformat:0 }}%
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="shadow progress"
                                         role="progressbar"
                                         style="width: {{ fats_percent }}%;
                                                height: 25px">
                                        <div class="progress-bar bg-fats-mid text-black-50 fs-5">
                                            {% if fats_percent > 3.5 %}
                                                {{ fats_percent|floatformat:0 }}%
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="shadow progress"
                                         role="progressbar"
                                         style="width: {{ carbs_percent }}%;
                                                height: 25px">
                                        <div class="progress-bar bg-carbs-mid text-black-50 fs-5">
                                            {% if carbs_percent > 3.5 %}
                                                {{ carbs_percent|floatformat:0 }}%
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if is_custom %}
                            <div class="z-3 row justify-content-center position-relative">
                                <div class="col-auto mt-0 position-absolute start-0">
                                    <a href="{% url 'edit_custom_food' food.food_id|slice:"3:" %}?meal={{ meal|urlencode }}&next={{ next_url|urlencode }}"
                                       class="btn btn-outline-success btn-md"
                                       title="Редактировать еду">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                                <div class="col-auto mt-0 position-absolute end-0">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-md"
                                            title="Удалить еду"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteFoodModal">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="row justify-content-center position-relative mt-3">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <p class="fw-bold fs-5 mb-1">Единица измерения:</p>
                                        <select class="form-select" name="unit" id="unit">
                                            {% for value, text in form.unit.field.choices %}
                                                <option value="{{ value }}"
                                                        {% if form.unit.value == value %}selected{% endif %}>
                                                    {% if value == 'portion' %}
                                                        {{ text }} по {{ food.serving_name }}
                                                    {% else %}
                                                        {{ text }}
                                                    {% endif %}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <p class="fw-bold fs-5 mb-1">Количество:</p>
                                        {{ form.amount }}
                                    </div>
                                    <button type="submit"
                                            class="btn bg-ferngreen btn-outline-success text-white mt-3">
                                        Добавить запись
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if not is_custom %}
                        <div class="card-footer py-2">
                            <p class="text-black-50 my-0">Услуга предоставлена FatSecret</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if is_custom %}
        <!-- Модальное окно подтверждения удаления еды -->
        <div class="modal fade"
             id="deleteFoodModal"
             tabindex="-1"
             aria-labelledby="deleteFoodModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteFoodModalLabel">Подтверждение удаления</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Вы уверены, что хотите удалить этот продукт из своей базы личных продуктов?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <form method="post"
                              action="{% url 'delete_custom_food' food.food_id|slice:"3:" %}?meal={{ meal|urlencode }}&next={{ next_url|urlencode }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
{% block scripts %}
    <script>
        const urls = {
            setTimezone: "{% url 'set_timezone' %}",
        };

        const csrf = "{{ csrf_token }}";

        const food = {
            per_portion: {
                calories: {{ food.per_portion.calories }},
                proteins: {{ food.per_portion.proteins }},
                fats: {{ food.per_portion.fats }},
                carbs: {{ food.per_portion.carbs }},
            },
            per_100g: {
                calories: {{ food.per_100g.calories|default:0 }},
                proteins: {{ food.per_100g.proteins|default:0 }},
                fats: {{ food.per_100g.fats|default:0 }},
                carbs: {{ food.per_100g.carbs|default:0 }},
            },
            per_100ml: {
                calories: {{ food.per_100ml.calories|default:0 }},
                proteins: {{ food.per_100ml.proteins|default:0 }},
                fats: {{ food.per_100ml.fats|default:0 }},
                carbs: {{ food.per_100ml.carbs|default:0 }},
            },
        };
        const servingName = "{{food.serving_name}}";
    </script>
    <script src="{% static 'calculator_app/js/timezone.js' %}"></script>
    <script src="{% static 'calculator_app/js/add_food.js' %}"></script>
{% endblock scripts %}
