{% extends "main/base.html" %}
{% block content %}
<div class="container mt-4">
    
    <div class="row justify-content-center mt-3 mb-4">
        <div class="col-md-auto">
            <h1 class="text-center fw-bold fc-darkgreen">Дневной счетчик калорий</h1>
        </div>
    </div>

    <div class="row justify-content-center mb-3 text-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-title fc-brunswickgreen fs-4 mb-0"><span class="fs-2 fw-bold">{{ current_calories }}</span> ккал</p>
                    <p class="card-text text-black-50 fs-6">Цель: {{ daily_calories }} ккал</p>
                </div>
                <div class="card-body">
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar {% if calories_percent == 100 %} progress-bar-striped progress-bar-animated {% endif %} bg-ferngreen" 
                        role="progressbar" 
                        style="width: {{calories_percent}}%;">
                        {% if calories_percent > 3.5 %}
                        {{ calories_percent|floatformat:1 }}%
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-4 mb-3">
            <div class="card bg-proteins-light">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <p class="card-title fc-brunswickgreen fs-4 mb-0"><span class="fs-2 fw-bold">{{ current_proteins|floatformat:1 }}</span> г</p>
                            <p class="card-text fc-proteins-dark fs-6">Цель: {{ daily_proteins }} г</p>
                        </div>
                        <div class="col-auto">
                            <p class="fw-bold fs-3 fc-brunswickgreen pe-2 pb-0 mb-0">Белков</p>
                            <p class="card-text fc-fats-dark fs-5 pe-2 pt-0 mt-0" align="right">{{ proteins_percent|floatformat:1 }}%</p>
                        </div> 
                    </div>
                </div>
                <div class="card-body">
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar {% if proteins_percent == 100 %} progress-bar-striped progress-bar-animated {% endif %} bg-proteins-richer" 
                        role="progressbar" style="width: {{proteins_percent}}%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-3">
            <div class="card bg-fats-light">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <p class="card-title fc-brunswickgreen fs-4 mb-0"><span class="fs-2 fw-bold">{{ current_fats|floatformat:1 }}</span> г</p>
                            <p class="card-text fc-fats-dark fs-6">Цель: {{ daily_fats }} г</p>
                        </div>
                        <div class="col-auto">
                            <p class="fw-bold fs-3 fc-brunswickgreen pe-2 pb-0 mb-0">Жиров</p>
                            <p class="card-text fc-fats-dark fs-5 pe-2 pt-0 mt-0" align="right">{{ fats_percent|floatformat:1 }}%</p>
                        </div> 
                    </div>
                </div>
                <div class="card-body">
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar {% if fats_percent == 100 %} progress-bar-striped progress-bar-animated {% endif %} bg-fats-richer" 
                        role="progressbar" style="width: {{fats_percent}}%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-3">
            <div class="card bg-carbs-light">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <p class="card-title fc-brunswickgreen fs-4 mb-0"><span class="fs-2 fw-bold">{{ current_carbs|floatformat:1 }}</span> г</p>
                            <p class="card-text fc-carbs-dark fs-6">Цель: {{ daily_carbs }} г</p>
                        </div>
                        <div class="col-auto">
                            <p class="fw-bold fs-3 fc-brunswickgreen pe-2 pb-0 mb-0">Углеводов</p>
                            <p class="card-text fc-fats-dark fs-5 pe-2 pt-0 mt-0" align="right">{{ carbs_percent|floatformat:1 }}%</p>
                        </div> 
                    </div>
                </div>
                <div class="card-body">
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar {% if carbs_percent == 100 %} progress-bar-striped progress-bar-animated {% endif %} bg-carbs-richer" 
                        role="progressbar" style="width: {{carbs_percent}}%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center mt-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center gap-3 py-3">
                    <h3 class="mb-0 flex-grow-1 text-truncate fw-bold fc-darkgreen">Приемы пищи сегодня</h3>
                    <button class="btn btn-outline-dark" type="button" 
                            data-bs-toggle="collapse" data-bs-target="#collapseMealsToday" 
                            aria-expanded="true" aria-controls="collapseMealsToday"
                            id="toggleCollapseButton">
                        <i class="fas fa-caret-up fs-2" id="collapseMealsTodayIcon"></i>
                    </button>
                </div>
                <div class="collapse show" id="collapseMealsToday">
                    <div class="card-body">
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between py-2 {% if not breakfast_entries %} border-0 {% endif %}">
                                <h4 class="my-1 text-truncate fw-bold fc-darkgreen">Завтрак</h4>
                                <form action="{% url 'food_search' meal='breakfast' %}" method="GET">
                                    <button type="submit" class="btn bg-ferngreen rounded-circle d-flex align-items-center justify-content-center text-white btn-md position-relative my-1" style="width: 35px; height: 35px;">
                                        <i class="fas fa-plus fs-2"></i>
                                        {% if not breakfast_entries %}
                                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">Добавь новый продукт!</span>
                                        </span>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                            
                            {% if breakfast_entries %}
                            <div class="card-body">
                                <div class="list-group">
                                    {% for entry in breakfast_entries %}
                                    <div class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="cpfc-content">
                                            <p class="fs-6 mb-1 text-break" align="start">
                                                <span class="fs-4 fw-bolder">{{ entry.food_name }}</span> 
                                                {% if entry.amount %} ({{ entry.amount }}) {% endif %}
                                            </p>
                                            <p align="start">
                                                <span class="badge bg-calories text-black">{{ entry.calories }} ккал.</span>
                                                <span class="badge rounded-pill bg-proteins text-black">{{ entry.proteins|floatformat:1 }} г. белков</span>
                                                <span class="badge rounded-pill bg-fats text-black">{{ entry.fats|floatformat:1 }} г. жиров</span>
                                                <span class="badge rounded-pill bg-carbs text-black">{{ entry.carbs|floatformat:1 }} г. углеводов</span>
                                            </p>
                                        </div>
                                        <form method="post" action="{% url 'delete_entry' entry.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger btn-md ms-2">Удалить</button>
                                        </form>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between py-2 {% if not lunch_entries %} border-0 {% endif %}">
                                <h4 class="my-1 text-truncate fw-bold fc-darkgreen">Обед</h4>
                                <form action="{% url 'food_search' meal='lunch' %}" method="GET">
                                    <button type="submit" class="btn bg-ferngreen rounded-circle d-flex align-items-center justify-content-center text-white btn-md position-relative my-1" style="width: 35px; height: 35px;">
                                        <i class="fas fa-plus fs-2"></i>
                                        {% if not lunch_entries %}
                                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">Добавь новый продукт!</span>
                                        </span>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                            
                            {% if lunch_entries %}
                            <div class="card-body">
                                <div class="list-group">
                                    {% for entry in lunch_entries %}
                                    <div class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="cpfc-content">
                                            <p class="fs-6 mb-1 text-break" align="start">
                                                <span class="fs-4 fw-bolder">{{ entry.food_name }}</span> 
                                                {% if entry.amount %} ({{ entry.amount }}) {% endif %}
                                            </p>
                                            <p align="start">
                                                <span class="badge bg-calories text-black">{{ entry.calories }} ккал.</span>
                                                <span class="badge rounded-pill bg-proteins text-black">{{ entry.proteins|floatformat:1 }} г. белков</span>
                                                <span class="badge rounded-pill bg-fats text-black">{{ entry.fats|floatformat:1 }} г. жиров</span>
                                                <span class="badge rounded-pill bg-carbs text-black">{{ entry.carbs|floatformat:1 }} г. углеводов</span>
                                            </p>
                                        </div>
                                        <form method="post" action="{% url 'delete_entry' entry.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger btn-md ms-2">Удалить</button>
                                        </form>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between py-2 {% if not dinner_entries %} border-0 {% endif %}">
                                <h4 class="my-1 text-truncate fw-bold fc-darkgreen">Ужин</h4>
                                <form action="{% url 'food_search' meal='dinner' %}" method="GET">
                                    <button type="submit" class="btn bg-ferngreen rounded-circle d-flex align-items-center justify-content-center text-white btn-md position-relative my-1" style="width: 35px; height: 35px;">
                                        <i class="fas fa-plus fs-2"></i>
                                        {% if not dinner_entries %}
                                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">Добавь новый продукт!</span>
                                        </span>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                            
                            {% if dinner_entries %}
                            <div class="card-body">
                                <div class="list-group">
                                    {% for entry in dinner_entries %}
                                    <div class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="cpfc-content">
                                            <p class="fs-6 mb-1 text-break" align="start">
                                                <span class="fs-4 fw-bolder">{{ entry.food_name }}</span> 
                                                {% if entry.amount %} ({{ entry.amount }}) {% endif %}
                                            </p>
                                            <p align="start">
                                                <span class="badge bg-calories text-black">{{ entry.calories }} ккал.</span>
                                                <span class="badge rounded-pill bg-proteins text-black">{{ entry.proteins|floatformat:1 }} г. белков</span>
                                                <span class="badge rounded-pill bg-fats text-black">{{ entry.fats|floatformat:1 }} г. жиров</span>
                                                <span class="badge rounded-pill bg-carbs text-black">{{ entry.carbs|floatformat:1 }} г. углеводов</span>
                                            </p>
                                        </div>
                                        <form method="post" action="{% url 'delete_entry' entry.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger btn-md ms-2">Удалить</button>
                                        </form>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="card">
                            <div class="card-header d-flex justify-content-between {% if not snack_entries %} border-0 {% endif %}">
                                <h4 class="my-1 text-truncate fw-bold fc-darkgreen">Перекусы</h4>
                                <form action="{% url 'food_search' meal='snack' %}" method="GET">
                                    <button type="submit" class="btn bg-ferngreen rounded-circle d-flex align-items-center justify-content-center text-white btn-md position-relative my-1" 
                                    style="width: 35px; height: 35px;">
                                        <i class="fas fa-plus fs-2"></i>
                                        {% if not snack_entries %}
                                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">Добавь новый продукт!</span>
                                        </span>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>

                            {% if snack_entries %}
                            <div class="card-body">
                                <div class="list-group">
                                    {% for entry in snack_entries %}
                                    <div class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="cpfc-content">
                                            <p class="fs-6 mb-1 text-break" align="start">
                                                <span class="fs-4 fw-bolder">{{ entry.food_name }}</span> 
                                                {% if entry.amount %} ({{ entry.amount }}) {% endif %}
                                            </p>
                                            <p align="start">
                                                <span class="badge bg-calories text-black">{{ entry.calories }} ккал.</span>
                                                <span class="badge rounded-pill bg-proteins text-black">{{ entry.proteins|floatformat:1 }} г. белков</span>
                                                <span class="badge rounded-pill bg-fats text-black">{{ entry.fats|floatformat:1 }} г. жиров</span>
                                                <span class="badge rounded-pill bg-carbs text-black">{{ entry.carbs|floatformat:1 }} г. углеводов</span>
                                            </p>
                                        </div>
                                        <form method="post" action="{% url 'delete_entry' entry.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger btn-md ms-2">Удалить</button>
                                        </form>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-5 mt-4">
        <div class="col-lg-7">
            <div class="card bg-calories-light mb-3">
                <div class="card-body position-relative">
                    <div class="row justify-content-between align-items-baseline mb-2">
                        <div class="col-auto">
                            <p class="card-title fc-brunswickgreen fs-4 mb-0"><span class="fs-2 fw-bold">{{ current_weight }}</span> кг</p>
                            <p class="card-text fc-fats-dark fs-6">Цель: {{ user_goal }}</p>
                        </div>
                        <div class="col-auto">
                            <p class="fw-bold fs-3 fc-brunswickgreen pe-2 pb-0 mb-0">Вес</p>
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-baseline position-relative">
                        <div class="col-auto position-absolute start-0 top-0">
                            <button type="button" class="btn btn-dark ms-3 mt-4 btn-sm pt-2 pb-1" 
                                    data-bs-toggle="modal" data-bs-target="#graphModal"
                                    id="filterBtn" title="Посмотреть полный график">
                                <i class="fs-5 fa-solid fa-filter"></i>
                            </button>
                        </div>
                        <canvas id="weightChart"></canvas>
                    </div>
                    <div class="row justify-content-center align-items-center mt-4 mb-0">
                        <div class="col-lg-5">
                            <form action="{% url "update_weight" %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="number" name="weight" class="form-control-weight form-control" placeholder="Текущий вес" min="5" max="635" step="0.1" required>
                                    <button class="btn bg-send-weight btn-outline-dark" type="submit">Сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-0 mb-0">
                        <div class="col-12">
                            <p class="fst-italic text-black-50 mb-0 advice-text" align="center">Старайтесь взвешиваться и записывать результат каждый день!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card bg-water-light">
                <div class="card-body">
                    <div class="row justify-content-between align-items-baseline mb-2">
                        <div class="col-auto">
                            <p class="card-title fc-brunswickgreen fs-4 mb-0"><span class="fs-2 fw-bold" id="currentWater">{{ current_water }}</span> мл</p>
                            <p class="card-text fc-fats-dark fs-6">Цель: {{ daily_water }} мл</p>
                        </div>
                        <div class="col-auto">
                            <p class="fw-bold fs-3 fc-brunswickgreen pe-2 pb-0 mb-0">Вода</p>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="number" id="waterAmount" class="form-control border-secondary" placeholder="Кол-во воды..." 
                                       min="1" step="1" value="250" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4)">
                                <span class="input-group-text border-secondary">мл</span>
                                <button class="btn bg-water btn-outline-secondary text-black" id="addWaterBtn" type="button">
                                    Добавить
                                </button>
                            </div>
                        </div>  
                        <div class="col-sm-3">
                            <div class="glass-container">
                                <div class="glass">
                                    <div class="water"></div>
                                    <div class="water-percentage">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="graphModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 fc-brunswickgreen" id="graphModalLabel" tabindex="0">График веса</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" title="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button type="button" class="btn bg-ferngreen btn-dark active" id="allFilterBtn">По записям</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn bg-ferngreen btn-dark" id="weekFilterBtn">По неделям</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn bg-ferngreen btn-dark" id="monthFilterBtn">По месяцам</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn bg-ferngreen btn-dark" id="yearFilterBtn">По годам</button>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <canvas id="weightChartFull" aria-label="График изменения веса" role="img"></canvas>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center mt-4">
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary" id="resetBtn">Сброс камеры</button>
                    </div>
                    <div class="col-auto">
                        <p class="fs-5 f-shadow">
                            Средний <span class="fs-3 fw-bold fc-brunswickgreen" id="meanWeightValue"></span> кг 
                            <span class="fs-2 fw-light">/</span> 
                            Макс. <span class="fs-4 fw-bold" id="maxWeightValue"></span> кг 
                            <span class="fs-2 fw-light">/</span>  
                            Мин. <span class="fs-4 fw-bold" id="minWeightValue"></span> кг
                        </p>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        const link = document.getElementById("calc-link");
        link.classList.remove('fs-5');
        link.classList.add('menu-link-active', 'fs-4');

        document.addEventListener('hide.bs.modal', function (event) {
            if (document.activeElement) {
                document.activeElement.blur();
            }
        });

        // Скрипт для определения часового пояса пользователя
        const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        
        fetch('{% url "set_timezone" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ timezone: timeZone })
        });


        // Скрипт для изменения кнопки для раскрытия добавленной еды
        const collapseElement = document.getElementById('collapseMealsToday');
        const collapseMealsTodayIcon = document.getElementById('collapseMealsTodayIcon');

        collapseElement.addEventListener('show.bs.collapse', function () {
            collapseMealsTodayIcon.classList.remove('fa-caret-down');
            collapseMealsTodayIcon.classList.add('fa-caret-up');
        });

        collapseElement.addEventListener('hide.bs.collapse', function () {
            collapseMealsTodayIcon.classList.remove('fa-caret-up');
            collapseMealsTodayIcon.classList.add('fa-caret-down');
        });


        // Скрипт для AJAX запроса на добавление воды
        const addWaterBtn = document.getElementById('addWaterBtn');
        const waterAmountInput = document.getElementById('waterAmount');
        const currentWaterSpan = document.getElementById('currentWater');
        
        addWaterBtn.addEventListener('click', function() {
            const waterAmount = parseInt(waterAmountInput.value) || 0;

            if (waterAmount != 0) {
                fetch('{% url "add_water" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({ amount: waterAmount })
                })
                .then(response => {
                    if (!response.headers.get("content-type")?.includes("application/json")) {
                        throw new Error('Ошибка сети');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }
    
                    currentWaterSpan.textContent = data.new_water;
                    updateWaterLevel(data.water_percent);
                })
                .catch(error => {
                    console.error('Ошибка:', error.message);
                    alert('Не удалось добавить воду.');
                });
            } else {
                waterAmountInput.value = 250;
            };
        });


        // Скрипт для стакана с водой
        const waterElement = document.querySelector('.water');
        const percentageElement = document.querySelector('.water-percentage');

        function updateWaterLevel(percent) {
            waterElement.style.height = `${percent}%`;
            percentageElement.textContent = `${percent.toFixed(0)}%`;
        }
        window.onload = updateWaterLevel({{ water_percent }});


        // Скрипт для графика веса на главном экране
        const ctx1 = document.getElementById('weightChart')

        const labels = {{ weight_data.labels|safe }}
        const data = {{ weight_data.data }}

        const lastFiveIndexStart = labels.length - 5;
    
        chartInstance = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Вес (в кг)',
                    data: data,
                    fill: false,
                    borderColor: 'rgb(255, 145, 0)',
                    backgroundColor: 'rgb(255, 166, 49)',
                    tension: 0.1,
                    pointRadius: 6,
                    pointHoverRadius: 8,
                }],
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        offset: true,
                        min: lastFiveIndexStart >= 0 ? lastFiveIndexStart : 0,
                        max: labels.length - 1,
                        ticks: {
                            autoSkip: false
                        },
                    },
                    y: {
                        position: 'right',
                        offset: true,
                        min: Math.round(Math.min(...data) - 1),
                        max: Math.round(Math.max(...data) + 1),
                        grid: {
                            display: true,
                            color: "rgba(0, 0, 0, 0.1)",
                            lineWidth: 1,
                            drawBorder: true
                        }
                    },
                },
                plugins: {
                    legend: false,
                    zoom: {
                        limits: {
                            x: { 
                                min: 0, 
                                max: labels.length - 1 
                            },
                            y: {
                                min: Math.round(Math.min(...data) - 2),
                                max: Math.round(Math.max(...data) + 2),
                            },
                        },
                        pan: {
                            enabled: true,
                            mode: 'xy',
                        },
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'xy',
                            scaleMode: 'xy',
                        }
                    },
                    tooltip: {
                        enabled: true,
                        mode: 'index',
                        bodyFont: {
                            size: 14,
                        },
                        titleFont: {
                            size: 15,
                        },
                        padding: 12,
                        borderWidth: 2,
                        backgroundColor: 'rgba(0, 0, 0, 0.7)',
                        bodyColor: '#fff',
                        titleColor: '#fff',
                    },
                },
                responsive: true
            }
        });


        // Скрипт для графика в модальном окне с фильтрами
        let chartFullInstance = null;
        const filterBtn = document.getElementById("filterBtn");
        const resetBtn = document.getElementById("resetBtn");
        const filterButtons = {
            all: document.getElementById("allFilterBtn"),
            week: document.getElementById("weekFilterBtn"),
            month: document.getElementById("monthFilterBtn"),
            year: document.getElementById("yearFilterBtn")
        };
        const meanWeightValue = document.getElementById("meanWeightValue");
        const maxWeightValue = document.getElementById("maxWeightValue");
        const minWeightValue = document.getElementById("minWeightValue");

        function handleFilterClick(filterType, buttonElement) {
            if (buttonElement.classList.contains('active')) return;
            Object.values(filterButtons).forEach(btn => {
                btn.classList.remove('active');
            });
            buttonElement.classList.add('active');
            updateModalChart(filterType);
        }

        filterButtons.all.addEventListener('click', () => handleFilterClick('all', filterButtons.all));
        filterButtons.week.addEventListener('click', () => handleFilterClick('week', filterButtons.week));
        filterButtons.month.addEventListener('click', () => handleFilterClick('month', filterButtons.month));
        filterButtons.year.addEventListener('click', () => handleFilterClick('year', filterButtons.year));

        resetBtn.addEventListener('click', function() {
            chartFullInstance.resetZoom();
        })


        filterBtn.addEventListener('click', function() {
            initModalChart();
            updateModalChart();
        });

        function initModalChart() {
            const ctx2 = document.getElementById('weightChartFull')

            if (chartFullInstance) {
                chartFullInstance.destroy();
            }
    
            chartFullInstance = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Вес (в кг)',
                        data: [],
                        fill: false,
                        borderColor: 'rgb(255, 145, 0)',
                        backgroundColor: 'rgb(255, 166, 49)',
                        tension: 0.1,
                        pointRadius: 6,
                        pointHoverRadius: 8,
                    }],
                },
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            offset: true,
                            min: 0,
                            max: 0,
                            ticks: {
                                autoSkip: false
                            },
                        },
                        y: {
                            position: 'right',
                            offset: true,
                            min: 0,
                            max: 0,
                            grid: {
                                display: true,
                                color: "rgba(0, 0, 0, 0.1)",
                                lineWidth: 1,
                                drawBorder: true
                            }
                        },
                    },
                    plugins: {
                        legend: false,
                        zoom: {
                            limits: {
                                x: { 
                                    min: 0,
                                    max: 0,
                                },
                                y : {
                                    min: 0,
                                    max: 0,
                                },
                            },
                            pan: {
                                enabled: true,
                                mode: 'xy',
                            },
                            zoom: {
                                wheel: {
                                    enabled: true,
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'xy',
                                scaleMode: 'xy',
                            }
                        },
                        tooltip: {
                            enabled: true,
                            mode: 'index',
                            intersect: false,
                            bodyFont: {
                                size: 16,
                            },
                            titleFont: {
                                size: 17,
                            },
                            padding: 12,
                            borderWidth: 2,
                            backgroundColor: 'rgba(0, 0, 0, 0.7)',
                            bodyColor: '#fff',
                            titleColor: '#fff',
                        },
                    }
                }
            });
        };

        function updateModalChart(period = 'all') {
            try {
                fetch('{% url "get_weight_history" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({ period: period })
                })
                .then(response => {
                    if (!response.headers.get("content-type")?.includes("application/json")) {
                        throw new Error('Ошибка сети');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        return Promise.reject(new Error(data.error));
                    }
                    
                    meanWeightValue.textContent = data.mean;
                    maxWeightValue.textContent = data.max;
                    minWeightValue.textContent = data.min;

                    chartFullInstance.data.labels = data.labels;
                    chartFullInstance.data.datasets[0].data = data.data_points;

                    const lastTenIndexStart = data.labels.length - 10;
                    chartFullInstance.options.scales.x.min = lastTenIndexStart >= 0 ? lastTenIndexStart : 0
                    chartFullInstance.options.scales.x.max = data.labels.length - 1

                    chartFullInstance.options.scales.y.min = Math.round(Math.min(...data.data_points) - 1)
                    chartFullInstance.options.scales.y.max = Math.round(Math.max(...data.data_points) + 1)

                    chartFullInstance.options.plugins.zoom.limits.x.max = data.labels.length - 1
                    chartFullInstance.options.plugins.zoom.limits.y.min = Math.round(Math.min(...data.data_points) - 3)
                    chartFullInstance.options.plugins.zoom.limits.y.max = Math.round(Math.max(...data.data_points) + 3)
                    
                    console.log(chartFullInstance)

                    chartFullInstance.update();
                })
                .catch(error => {
                    console.error('Ошибка:', error.message);
                    alert('Не удалось загрузить график.');
                    return Promise.reject(error);
                });
            } catch (error) {
                console.error('Ошибка загрузки данных:', error);
            }
        };

    });
</script>
{% endblock %}