{% extends "main/base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center mb-3 text-center">
        <div class="col-sm-12">
            <div class="card">
                <h2 class="card-header py-3 fw-bold fc-darkgreen">Поиск еды</h2>
                <div class="card-body px-5 py-3">
                    <form method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="query" value="{{ query }}" placeholder="Поиск еды...">
                            <button class="btn bg-ferngreen text-white" type="submit">Искать</button>
                        </div>
                    </form>
                </div>
            
                <form method="get">
            
                </form>
            
                {% if results %}
                <div class="list-group">
                    {% for food in results %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <p class="fs-4 mb-0"><strong>{{ food.food_name }}</strong> ({{ food.food_type }})</p>
                            <p class="fc-brunswickgreen">({{ food.food_description }})</p>
                        </div>
                        <a href="{% url 'add_food_entry' food.food_id %}" class="btn btn-success">Добавить</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-between align-self-center">
                        <div>
                            {% if current_page > 0 %}
                                <a href="?query={{ query }}&page={{ current_page|add:-1 }}" 
                                    class="btn bg-ferngreen text-white">← Предыдущая</a>
                            {% else %}
                                <a href="?query={{ query }}&page={{ total_pages }}" 
                                    class="btn bg-ferngreen text-white">← Предыдущая</a>
                            {% endif %}
                        </div>
                        
                        <span>Стр. {{ current_page|add:1 }} из {{ total_pages|add:1 }}</span>
                        
                        <div>
                            {% if current_page < total_pages %}
                                <a href="?query={{ query }}&page={{ current_page|add:1 }}" 
                                    class="btn bg-ferngreen text-white">Следующая →</a>
                            {% else %}
                                <a href="?query={{ query }}&page=0 " 
                                    class="btn bg-ferngreen text-white">Следующая →</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% elif query %}
                <p>Ничего не найдено</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}