{% extends "main/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/load_image.css' %}">
{% endblock css %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center mb-3 text-center">
            <div class="col-sm-12">
                <div class="card">
                    <div class="z-3 row justify-content-center position-relative">
                        <div class="col-auto mt-0 position-absolute end-0">
                            <div class="close-btn mt-2">
                                <a href="{{ prev_url }}">
                                    <i class="fa-solid fa-xmark fc-ferngreen fs-1 " title="Вернуться назад"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <h2 class="py-4 fw-bold fc-darkgreen">
                            Добавление еды по фото в
                            {% if meal == 'breakfast' %}
                                "Завтрак"
                            {% elif meal == 'lunch' %}
                                "Обед"
                            {% elif meal == 'dinner' %}
                                "Ужин"
                            {% else %}
                                "Перекус"
                            {% endif %}
                        </h2>
                    </div>
                    <div class="card-body">
                        {% if not formset %}
                            <ul class="nav nav-tabs mt-3 fs-5 mb-5">
                                <li class="nav-item flex-fill text-center mx-2">
                                    <a class="nav-link active fc-huntergreen fs-1 fw-bold"
                                       aria-current="page">
                                        <i class="fa-solid fa-camera"></i>
                                    </a>
                                </li>
                                <li class="nav-item flex-fill text-center mx-2">
                                    <a class="nav-link fc-huntergreen fs-1"
                                       href="{% url 'barcode_scanning' %}?meal={{ meal|urlencode }}&prev={{ prev_url|urlencode }}">
                                        <i class="fa-solid fa-barcode"></i>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if error %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-danger alert-dismissible fade show fs-5"
                                         role="alert">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span class="fw-medium">{{ error }}</span>
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if formset %}
                            <div class="row justify-content-center">
                                <div class="col-sm-5 mx-2 align-content-center">
                                    <img src="data:image/jpeg;base64,{{ image_data }}"
                                         class="img-fluid rounded shadow my-3 h-auto w-auto"
                                         alt="Изображение еды"
                                         style="max-height: 350px">
                                </div>
                                <div class="col-sm-5 mx-2 align-content-center">
                                    <div class="p-3 border rounded shadow bg-light m-auto">
                                        <h3 class="mb-3">Итого:</h3>
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <span class="fs-5 fw-semibold">Продуктов:</span>
                                                <div>
                                                    <span class="fw-bolder fs-4" id="total-products">{{ total.total_products }}</span>
                                                    <span class="fw-light fs-6">шт.</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center bg-calories-light">
                                                <span class="fs-5 fw-semibold">Калорий:</span>
                                                <div>
                                                    <span class="fw-bolder fs-4" id="total-calories">{{ total.total_calories }}</span>
                                                    <span class="fw-light fs-6">ккал.</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center bg-proteins-light">
                                                <span class="fs-5 fw-semibold">Белков:</span>
                                                <div>
                                                    <span class="fw-bolder fs-4" id="total-proteins">{{ total.total_proteins|floatformat:1 }}</span>
                                                    <span class="fw-light fs-6">г.</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center bg-fats-light">
                                                <span class="fs-5 fw-semibold">Жиров:</span>
                                                <div>
                                                    <span class="fw-bolder fs-4" id="total-fats">{{ total.total_fats|floatformat:1 }}</span>
                                                    <span class="fw-light fs-6">г.</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center bg-carbs-light">
                                                <span class="fs-5 fw-semibold">Углеводов:</span>
                                                <div>
                                                    <span class="fw-bolder fs-4" id="total-carbs">{{ total.total_carbs|floatformat:1 }}</span>
                                                    <span class="fw-light fs-6">г.</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3 class="mb-3 mt-4">Найденные продукты:</h3>
                            <div class="accordion" id="accordionPanelsStayOpen">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ formset.management_form }}
                                    {% for form in formset %}
                                        <div class="accordion-item position-relative">
                                            <div class="fs-3 position-absolute start-0"
                                                 style="z-index: 5;
                                                        margin-top: 11px;
                                                        margin-left: 10px">{{ form.save_flag }}</div>
                                            <h2 class="accordion-header"
                                                id="panelsStayOpen-heading{{ forloop.counter0 }}">
                                                <button class="accordion-button collapsed bg-light"
                                                        type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapse{{ forloop.counter0 }}"
                                                        aria-expanded="false"
                                                        aria-controls="panelsStayOpen-collapse{{ forloop.counter0 }}">
                                                    <span class="fs-4 ms-4 ps-2 text-truncate"
                                                          id="food-name-label-{{ forloop.counter0 }}">
                                                        {{ form.food_name.value }}
                                                    </span>
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapse{{ forloop.counter0 }}"
                                                 class="accordion-collapse collapse"
                                                 aria-labelledby="panelsStayOpen-heading{{ forloop.counter0 }}">
                                                <div class="accordion-body bg-light-subtle">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-6">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text bg-ferngreen-lighter fw-semibold">Название:</span>
                                                                {{ form.food_name }}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text bg-ferngreen-lighter fw-semibold">Количество:</span>
                                                                {{ form.amount }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-6">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text bg-calories fw-semibold">Калорий:</span>
                                                                {{ form.calories }}
                                                                <span class="input-group-text bg-calories fw-semibold">ккал.</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text bg-proteins fw-semibold">Белков:</span>
                                                                {{ form.proteins }}
                                                                <span class="input-group-text bg-proteins fw-semibold">г.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-6">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text bg-fats fw-semibold">Жиров:</span>
                                                                {{ form.fats }}
                                                                <span class="input-group-text bg-fats fw-semibold">г.</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text bg-carbs fw-semibold">Углеводов:</span>
                                                                {{ form.carbs }}
                                                                <span class="input-group-text bg-carbs fw-semibold">г.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="text-muted fst-italic">*Все значения примерны</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <button class="btn bg-ferngreen btn-outline-success text-white mt-3 fs-6"
                                            type="submit">Сохранить в дневник</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="row justify-content-center mt-4 mb-5">
                                <div class="col-sm-5 mx-2 align-content-center">
                                    <form method="post" enctype="multipart/form-data" id="image-submit-form">
                                        {% csrf_token %}
                                        <div id="drop-area">
                                            <div class="container py-2 px-3 mx-auto text-center">
                                                <div class="mt-3 mb-3 d-flex justify-content-center align-content-center position-relative">
                                                    <div id="preview-img-container"
                                                         style="position: relative;
                                                                display: inline-block">
                                                        <img id="preview-img"
                                                             src=""
                                                             alt="Предпросмотр"
                                                             class="img-fluid rounded shadow"
                                                             style="max-height: 150px;
                                                                    max-width: 150px;
                                                                    display: none;
                                                                    filter: blur(3px)">
                                                        <img src="{% static 'img/analys.gif' %}"
                                                             alt="Загрузка..."
                                                             class="overlay-gif d-none">
                                                    </div>
                                                    <div id="preview-error"
                                                         class="alert alert-danger text-danger mt-2 fs-6"
                                                         style="display: none"></div>
                                                </div>
                                                <div class="position-relative">
                                                    <div id="to-remove">
                                                        <div class="mb-2 mt-4">
                                                            <label for="image-input" class="form-label fs-3">{{ upload_form.image.label_tag }}</label>
                                                            {{ upload_form.image }}
                                                        </div>
                                                        <button class="btn mt-4 mb-4 bg-ferngreen btn-outline-success form-control text-white w-75"
                                                                type="submit">Проанализировать</button>
                                                    </div>
                                                    <div id="spinner"
                                                         class="position-absolute top-0 start-0 w-100 h-100 justify-content-center align-content-center d-none"
                                                         style="z-index: 1000">
                                                        <div class="d-flex align-items-center justify-content-center mt-4 mb-4">
                                                            <div class="spinner-border fc-ferngreen fs-3"
                                                                 style="width: 3rem;
                                                                        height: 3rem"
                                                                 role="status">
                                                                <span class="visually-hidden">Анализ...</span>
                                                            </div>
                                                            <span id="spinner-text" class="ms-3 fs-4 f-shadow">Анализируем изображение...</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        {% if show_hello %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <h4 class="alert-heading">Распознавание еды на фото!</h4>
                                <p class="fs-5">
                                    Загрузите изображение, а мы постараемся определить продукты на нем и
                                    автоматически подсчитать кол-во калорий, белков, жиров и углеводов для каждого продукта.
                                </p>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% if upload_form %}
        <script>
            const messages = [
                "Находим еду...",
                "Определяем, можно ли это есть...",
                "Узнаем название еды...",
                "Считаем калории...",
                "Считаем белки...",
                "Считаем жиры...",
                "Считаем углеводы...",
            ];
        </script>
        <script src="{% static 'js/load_image.js' %}"></script>
    {% endif %}
    {% if formset %}
        <script src="{% static 'calculator_app/js/edit_recognized_food.js' %}"></script>
    {% endif %}
{% endblock scripts %}
