<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotalControl</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Вы авторизованы!</h1>
        <a href="{% url 'profile' %}">Перейти в профиль</a>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <h1>Добро пожаловать в TotalControl!</h1>
        <p>Это удобный инструмент для контроля за своим рационом.</p>
        <p>Чтобы начать, пожалуйста, авторизуйтесь.</p>
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</body>
</html>
