{% extends "main/base.html" %}
{% block content %}
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .btn:hover {
            background-color:rgb(37, 120, 40);
        }
    </style>
    {% if user.is_authenticated %}
        <div style="text-align: center; padding: 50px;">
            <h1>Поздравляем!</h1>
            <p>Теперь вы можете перейти к калькулятору для контроля за вашим питанием и КБЖУ.</p>
            <br>
            <a href="{% url 'profile' %}" class="btn btn-primary">Перейти к калькулятору</a>
        </div>
    {% else %}
        <div style="text-align: center; padding: 50px;">
            <h1>Добро пожаловать в TotalControl</h1>
            <p>Удобный инструмент для контроля за вашим питанием и КБЖУ.</p>
            <br>
            <p>Перед тем, как начать пользоваться инструментом, зарегистрируйтесь или авторизируйтесь на сайте!</p>
        </div>
    {% endif %}
{% endblock content %}