.bg-timberwolf {
    background-color: #DAD7CD;
}

.bg-sage {
    background-color: #A3B18A;
}

.bg-ferngreen {
    background-color: #588157;
}

.bg-huntergreen {
    background-color: #3A5A40;
}

.bg-brunswickgreen {
    background-color: #344E41;
}