/* Цвета основной палитры сайта*/
.bg-timberwolf {
    background-color: #DAD7CD;
}

.bg-sage {
    background-color: #A3B18A;
}

.bg-ferngreen {
    background-color: #588157;
}

.bg-huntergreen {
    background-color: #3A5A40;
}

.bg-brunswickgreen {
    background-color: #344E41;
}


/* Светлый вариант основных цветов */
.bg-ferngreen-light {
    background-color: #9bc99a;
}


/* Текст с основными цветами */
.fc-timberwolf {
    color: #DAD7CD;
}

.fc-sage {
    color: #A3B18A;
}

.fc-ferngreen {
    color: #588157;
}

.fc-huntergreen {
    color: #3A5A40;
}

.fc-brunswickgreen {
    color: #344E41;
}

.fc-darkgreen {
    color: #0b1a0c;
}


/* Цвет наводки на кнопки с основным цветом */
.btn.bg-ferngreen-light:hover {
    background-color: #80a57f;
}

.btn.bg-ferngreen:hover {
    background-color: #35523b;
}

.btn.bg-huntergreen:hover {
    background-color: #263b2a;
}


/* Цвета для фона КБЖУ */

/* Классические цвета */
.bg-calories {
    background-color: #fffde2;
}

.bg-proteins {
    background-color: #e2f4ff;
}

.bg-fats {
    background-color: #ffe2e2;
}

.bg-carbs {
    background-color: #e5ffe2;
}

.bg-water {
    background-color: #c1e1ee;
}

/* Светлый вариант */
.bg-calories-light {
    background-color: #fffffa;
}

.bg-proteins-light {
    background-color: #fafdff;
}

.bg-fats-light {
    background-color: #fffafa;
}

.bg-carbs-light {
    background-color: #fafff9;
}

.bg-water-light {
    background-color: #fafeff;
}

/* Насыщенный вариант */
.bg-calories-richer {
    background-color: #ffffa2;
}

.bg-proteins-richer {
    background-color: #a1daff;
}

.bg-fats-richer {
    background-color: #ffa7a7;
}

.bg-carbs-richer {
    background-color: #92df83;
}

.bg-water-richer {
    background-color: #b6f0ff;
}

/* Темный и прозрачный вариант */
.bg-calories-trans {
    background-color: #eceacf60;
    box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.30);
}

.bg-proteins-trans {
    background-color: #d1e4ee60;
    box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.30);
}

.bg-fats-trans {
    background-color: #ecd0d060;
    box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.30);
}

.bg-carbs-trans {
    background-color: #cfe7cc60;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.30);
}

/* Менее насыщенный вариант */
.bg-calories-mid {
    background-color: #e0dda8;
}

.bg-proteins-mid {
    background-color: #aacde0;
}

.bg-fats-mid {
    background-color: #dfa9a9;
}

.bg-carbs-mid {
    background-color: #b0ddaa;
}

.bg-grams-mid {
    background-color: #dfdfdf;
}

.bg-water-mid {
    background-color: #dfedf3;
}


/* Цвета для текста с КБЖУ */
.fc-calories {
    color: #fdffe2;
    
}

.fc-proteins {
    color: #e2f4ff;
}

.fc-fats {
    color: #ffe2e2;
}

.fc-carbs {
    color: #e5ffe2;
}

/* Темный вариант */
.fc-proteins-dark {
    color: #86929c;
}

.fc-fats-dark {
    color: #968484;
}

.fc-carbs-dark {
    color: #82947f;
}


/* Темная тень для текста */
.f-shadow {
    text-shadow: 1px 1px 3px #00000050;
}