/* Стили для бокового меню сайта */
.menu-link {
    color: #344e41;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 5px;
    margin: 10px auto;
}
.menu-link:hover,
.menu-link:focus {
    color: #ffffff;
    font-weight: bold;
    background-color: #58815770;
    padding-left: 10px;
    transition: all ease-in-out 0.2s;
}
.menu-link-active {
    color: #ffffff;
    font-weight: bold;
    background-color: #588157ad;
    padding-left: 10px;
}

/* Кнопка закрыть */
.close-btn {
    margin-top: 20px;
    padding-right: 22px;
}

/* Стили для элементов форм */
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem #588157ad;
}
.form-select:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem #588157ad;
}
.form-control-weight:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 49, 0.527);
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
.form-check-input:checked {
    background-color: #396938;
    border-color: #396938;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem #58815780;
}

/* Расположение элементов в виде столбца */
.flex-column-center {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Адаптивное изменение размера текста в шапке */
@media (max-width: 576px) {
    .card-header h4 {
        font-size: 1.1rem;
    }
    .card-header .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.9rem;
    }
}

/* Звезда - избранное */
.star-btn {
    margin-top: 20px;
    padding-left: 18px;
}

/* Для маленького комментария*/
.advice-text {
    font-size: 13px;
}

/* Свечение кнопки */
.glow-hover {
    text-shadow: 0 0 2px #ffffff, 0 0 5px #8fbb8e, 0 0 15px #588157;
    transition: text-shadow 0.5s ease;
}

/* Собственные стили для кнопок-аккоридонов */
.accordion-button:not(.collapsed) {
    color: #396938;
}
.accordion-button:focus {
    z-index: 3;
    box-shadow: 0 0 0 0.25rem #58815780;
}

/* Собственные стили для навигационныхэ кнопок */
.nav-link:hover,
.nav-link:focus {
    color: #3d853c;
}
